$collection-img-height: 250px;

.home-collection {
  @apply my-7;

  @screen xs {
    @apply px-4;
  }

  @screen md {
    @apply px-0;
  }

  &__container {
    @apply
      block
      relative
      mx-auto
      rounded-md;

    @screen xs {
      @apply w-full;
    }

    @screen md {
      @apply container;
    }
  }

  &__slide {
    @apply
      flex
      flex-col
      w-full;

    img {
      height: $collection-img-height;
      max-height: $collection-img-height;
      @apply
        object-contain
        mx-auto;
    }
  }

  &__header {
    @apply
      text-darkblue
      font-bold
      mb-7;

    @screen xs {
      @apply text-lg;
    }

    @screen md {
      @apply text-2xl;
    }
  }

  &__title {
    @apply
      w-full
      p-4
      text-sm
      font-bold
      text-left;

    &:hover {
      @apply text-secondary-500;
    }
  }

  &__icon {
    @apply
      fill-current
      text-black500
      h-4
      w-4
      mx-auto;
  }

  &__empty {
    @apply
      text-center
      py-6;

    &--title {
      @apply
        mt-6
        text-base
        font-bold;
    }
  }

  &__loading {
    @apply transform-none;

    &--img {
      height: $collection-img-height;
      @apply
        w-10/12
        mx-auto;
    }

    &--text {
      @apply
        my-2
        w-11/12
        mx-auto;
    }
  }

  .slick-track {
    @apply
      grid
      grid-flow-col;
  }

  .slick-slide {
    @apply px-3;
  }

  .slick-current {
    @apply
      border-l-transparent;
  }

  .slick-arrow {
    @apply
      bg-white
      shadow;

    @screen xs {
      @apply
        h-8
        w-8;
    }
    @screen md {
      @apply
        h-12
        w-12;
    }
  }

  .slick-next {
    @apply
      z-10
      #{!important};

    &::before {
      @apply content-none;
    }

    &:hover, &:focus {
      @apply
        text-inherit
        bg-white;
    }

    @screen xs {
      @apply -right-2;
    }

    @screen md {
      @apply -right-2;
    }
  }

  .slick-prev {
    @apply
      z-10
      #{!important};

    &::before {
      @apply content-none;
    }

    &:hover, &:focus {
      @apply
        text-inherit
        bg-white;
    }

    @screen xs {
      @apply -left-2;
    }

    @screen md {
      @apply -left-2;
    }
  }

  .slick-disabled {
    @apply
      cursor-default
      bg-gray-200;

    &:hover, &:focus {
      @apply
        text-transparent
        bg-gray-200;
    }
  }
}
