.home {
  @apply
    flex
    flex-col;

  &__container {
    @apply
      flex
      flex-col
      mx-auto;

    @screen xs {
      @apply
        w-full
        px-4;
    }

    @screen md {
      @apply
        container
        px-0;
    }
  }

  &__header {
    @apply
      flex
      flex-row
      w-full
      mt-4
      mb-7;

    @screen xs {
      min-height: var(--slider-height-mobile);
      max-height: var(--slider-height-mobile);
    }

    @screen md {
      min-height: var(--slider-height-desktop);
      max-height: var(--slider-height-desktop);
    }
  }

  &__headerleft {
    @apply
      flex
      mr-1;

    @screen xs {
      width: calc(theme('width.8/12') - theme('spacing.1'));
    }

    @screen lg {
      width: calc(theme('width.8/12') - theme('spacing.1'));
    }
  }

  &__headerright {
    background: url('../../../public/images/home-header.png') rgba(0, 0, 0, .6);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    @apply
      flex
      flex-col
      w-1/4
      min-h-full
      items-center
      justify-center
      ml-1;

    @screen xs {
      width: calc(theme('width.4/12') - theme('spacing.1'));
    }

    @screen lg {
      width: calc(theme('width.4/12') - theme('spacing.1'));
    }
  }

  &__headercaption {
    @apply
      font-bold
      uppercase
      text-white
      text-center
      mb-8;

    @screen xs {
      @apply text-xs;
    }

    @screen md {
      @apply text-lg;
    }
  }

  &__headerbutton {
    min-height: 40px;

    @screen xs {
      @apply px-4;
    }

    @screen md {
      @apply px-10;
    }
  }

  &__mslogin {
    @apply
      bg-gray-200
      my-6
      py-6;
  }

  &__mslogincontent {
    @apply
      flex;

    @screen xs {
      @apply
        flex-col
        items-center
        justify-center;
    }

    @screen md {
      @apply
        flex-row
        items-center
        justify-between;
    }
  }

  &__mslogincaption {
    @apply
      text-base
      text-gray-700;

    @screen xs {
      @apply
        text-center
        mb-4;
    }

    @screen md {
      @apply
        text-left
        mb-0;
    }
  }
}
